.conteiner {
    background-color: rgb(49, 43, 43);
    height: 100vh;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    max-width: 100rem;
    max-height: 75rem;
    background-color: rgb(48, 48, 48);
    margin: 0 auto;
    border-radius: 1%;
    border: 5px solid rgb(80, 76, 76);
    display: flex;
    align-items: center;
    justify-content: center;
}
.carusel{
    /* padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    gap: 50px;
    flex-direction: column; */
    padding: 0 20px 0 20px;
    overflow: hidden;
    gap: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 800px;
    justify-content: center;
    align-items: center;
}
.card-best{
    /* display: none; */
}
.card-jack{
    display: none;
}
.card-shreck{
    display: none;
}
.card-mem{
    display: none;
}
.img {
    border-radius: 1%;
    min-width: 1200px;
    min-height: 630px;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-best{
    background-image: url("./assets/img/boromirmeme.jpeg");
}
.img-jack-sparrow{
    background-image: url("./assets/img/jack\ sparrow.jpeg");
}
.img-shreck{
    background-image: url("./assets/img/shrek4_disneyscreencaps.com_675.0.jpg");
}
.img-mem{
    background-image: url("./assets/img/bean2.jpeg");
}
.title {
    font-size: 2rem;
    color: azure;
}
.wrapper-controls {
    /* display: flex;
    gap: 20px; */
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-bottom: 50px;
}
.circle {
    /* border: 2px solid rgb(51, 51, 168); */
    /* background-color: rgb(51, 51, 168); */
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
input {
    appearance: none;
    border: 2px solid rgb(51, 51, 168);;
    background-color: rgb(51, 51, 168);
    color: white;
    transition: 0.2s all linear;
}
input:hover {
    border: 6px solid white;
    background-color: white
}

input:checked {
    border: 6px solid rgb(51, 51, 168);;
    background-color: transparent
}
/* .circle:hover,
.circle:focus {
    color: transparent;
} */
/* .circle:hover{
    background-color: transparent;
    border: 2px solid white;
}
.circle:active{
    background-color: transparent;
}
.circle:visited{
    background-color: transparent;
} */
