.conteiner {
    background-color: rgb(49, 43, 43);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    max-height: 47rem;
    background-color: rgb(48, 48, 48);
    margin: 0 auto;
    border-radius: 1%;
    border: 0.5rem solid rgb(80, 76, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 0;
}
.carusel {
    padding: 2rem 2rem 0 2rem;
    flex-direction: column;
    max-width: 54rem;
    height: 52rem;
}

.card {
    max-width: 75rem;
    max-height: 34rem;
    opacity: 1;
    transform: translate(100px);
    display: flex;
    justify-content: center;
}
img {
    border-radius: 1%;
    min-width: 52rem;
    min-height: 34rem;
    max-width: 54rem;
    /* max-height: 50rem; */
    background-size: cover;
    background-repeat: no-repeat;
}
.card:nth-of-type(1) {
    transform: translate(0px, 25rem);
}
.card:nth-of-type(2){
    transform: translate(0px, -9rem);
}
.card:nth-of-type(3){
    transform: translate(0px, -42rem);
}
.card:nth-of-type(4){
    transform: translate(0px, -77rem);
}
.card2{
    font-size: 2rem;
    display: inline-block;
    max-width: 39rem;
    position: relative;
}
.sub {
    display: inline-block;
}
.card2:nth-of-type(1) {
    transform: translate(0, 7rem);
}
.card2:nth-of-type(2) {
    transform: translate(0, -1rem);
    opacity: 0;
}
.card2:nth-of-type(3) {
    transform: translate(0, -12rem);
    opacity: 0;
}
.card2:nth-of-type(4) {
    transform: translate(0, -24rem);
    opacity: 0;
}
.title {
    font-size: 2rem;
    color: azure;
}
.slider__radio {
    display: none;
    gap: 20px;
}
label {
    transform: translate(19rem, -31rem);
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px 15px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 80%);
    border-radius: 50%;
    border: 5px solid #1978d1;
    background-color: #1978d1;
}
#slide1:checked~.control label[for="slide1"] {
    background-color: transparent;
}   

#slide2:checked~.control label[for="slide2"] {
    background-color: transparent;
}

#slide3:checked~.control label[for="slide3"] {
    background-color: transparent;
}
#slide4:checked~.control label[for="slide4"] {
    background-color: transparent;
}
#slide1:hover~.control label[for="slide1"] {
    background-color: white;
    border: 5px solid white;
}   

#slide2:hover~.control label[for="slide2"] {
    background-color: white;
    border: 5px solid white;
}

#slide3:hover~.control label[for="slide3"] {
    background-color: white;
    border: 5px solid white;
}
#slide4:hover~.control label[for="slide4"] {
    background-color: white;
    border: 5px solid white;
}

#slide1:checked~.carusel .card:nth-of-type(2),
#slide1:checked~.carusel .card:nth-of-type(3),
#slide1:checked~.carusel .card:nth-of-type(4),
#slide1:checked~.carusel .card2:nth-of-type(2),
#slide1:checked~.carusel .card2:nth-of-type(3),
#slide1:checked~.carusel .card2:nth-of-type(4){
    opacity: 0;
    z-index: -1;
}
#slide2:checked~.carusel .card:nth-of-type(1),
#slide2:checked~.carusel .card2:nth-of-type(1),
#slide2:checked~.carusel .card:nth-of-type(3),
#slide2:checked~.carusel .card:nth-of-type(4){
    opacity: 0;
    z-index: -1;
}
#slide2:checked~.carusel .card2:nth-of-type(2),
#slide2:checked~.carusel .card:nth-of-type(2){
    opacity: 1;
    z-index: 1;
}

#slide3:checked~.carusel .card:nth-of-type(2),
#slide3:checked~.carusel .card:nth-of-type(1),
#slide3:checked~.carusel .card:nth-of-type(4),
#slide3:checked~.carusel .card2:first-child,
#slide3:checked~.carusel .card2:nth-of-type(2){
    opacity: 0;
    z-index: -1;
}

#slide3:checked~.carusel .card2:nth-of-type(3){
    opacity: 1;
    z-index: 1;
}

#slide4:checked~.carusel .card:nth-of-type(2),
#slide4:checked~.carusel .card:nth-of-type(1),
#slide4:checked~.carusel .card:nth-of-type(3),
#slide4:checked~.carusel .card2:first-child,
#slide4:checked~.carusel .card2:nth-of-type(2),
#slide4:checked~.carusel .card2:nth-of-type(3){
    opacity: 0;
    z-index: -1;
}
#slide4:checked~.carusel .card2:nth-of-type(4){
    opacity: 1;
    z-index: 1;
}

.card {
    transition: 1.2s all linear;
}

@media (max-width:1000px) {
    .wrapper {
        align-items: stretch;
        max-height: 56rem;
    }
    img {
        min-width: 0;
        min-height: 0;
        max-width: 54rem;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .carusel {
        padding: 0;
        max-width: 54rem;
        height: 54rem;
        margin-top: 5rem;
    }
    label {
        transform: translate(13rem, -40rem);
    }
    .card {
        padding-top: 1rem;
        max-width: 50rem;
        max-height: 31rem;
        min-height: 31rem;
        display: flex;
        justify-content: center;
    }
    .card2 {
        transition: 1.2s all linear;
        font-size: 2rem;
        display: block;
        max-width: 42rem;
        max-height: 6rem;
        padding: 4rem 0rem;
        padding-top: 8%;
        margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        padding-top: 2rem;
    }
    .card:nth-of-type(1) {
        transform: translate(0px, 24rem);
    }
    .card:nth-of-type(2) {
        transform: translate(0px, -8rem);
    }
    .card:nth-of-type(3) {
        transform: translate(0px, -40rem);
    }
    .card:nth-of-type(4) {
        transform: translate(0px, -72rem);
    }
    .card2:nth-of-type(1) {
        transform: translate(0, 3rem);
        padding-top: 0;
    }
    .card2:nth-of-type(2) {
        transform: translate(0, -7rem);
        padding-top: 0;
    }
    .card2:nth-of-type(3) {
        transform: translate(0, -17rem);
        opacity: 0;
        padding-top: 0;
    }
    .card2:nth-of-type(4) {
        transform: translate(0, -27rem);
        padding-top: 0;
        margin: auto auto;
    }
    .control {
        display: flex;
        align-content: center;
        margin-left: calc(50% + -21rem);
    }
}